.media {
	background:#f6f3eb;
	display: flex;
	align-items:flex-start;
	padding:1em;
	border-radius: 3px;
	max-width: 24em;
}

.media-object {
	margin-right:1em;
}

.media-heading {
	margin: 0 0 .5em;
}

.media-body {
	flex:1;
}