body {
	font-family:Arial, Helvetica, sans-serif;
}

.block_row {
	border:20px solid #ece89d;
	margin:20px;
	display:flex;
	flex-wrap:wrap;
	
	
}

.block_column {
	border:20px solid #5e5373;
	flex-basis:150px;
	flex-grow:1;
}

.block_item {
	background-color:#18b5a4;
	font-size:50px;
	color:#fff;
	padding:50px;
	font-weight:700;
	text-align:center;
}

.block_column_1 {
	
}

