* {
	box-sizing:border-box;
}
body {
	margin:0;
}

#main {
	display:flex;
	min-height:calc(100vh - 40vh);
}

#main > article {
	flex:1;
}

#main > nav {
	order:-1;
}

#main > nav, aside {
	background:beige;
	flex:0 0 20vw;
}

header, footer {
	height:20vh;
	background:yellowgreen;
}

header, footer, article, nav, aside {
	padding:1em;
}

