/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body {
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.wrapper {
	display:flex;
	flex-direction:column;
	min-height:100vh;
}
.content {
	flex:1 1 auto;
}
.hi {
	background-color: #445162;
	padding:50px 0;
}
.container {
	max-width:1180px;
	margin:0 auto;
}
.hi__row {
	display:flex;
	justify-content: space-between;

}
.hi__body {
	padding-right:30px;
}
.hi__title {
	text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
	font-size: 59px;
	color: #ffffff;
	margin-bottom: 40px;
}
.hi__list li {
	background:url('../img/icons/icon.png') 0 1px no-repeat;
	padding-left:36px;
	margin-bottom:17px;
	text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
	line-height: 1.3;
	font-size: 20px;
}

.hi__list li:last-child {
	margin-bottom:0;
}
.hi__image {
}

.what {
	padding:50px 0;
}

.what__row {
	display:flex;
}
.what__image {
	flex:0 0 430px;
}

.what__image img {
	max-width:100%;
}
.what__body {
	margin-left:38px;
	flex:1 1 auto;
}
.what__title {
	margin-bottom: 36px;
}
.title {
	font-size: 30px;
	line-height: 1.2;
	color: #445161;
}
.what__text p {
	font-size: 16px;
	line-height: 1.5;
	color: #333333;
	
}

.what__text p:first-child {
	margin-bottom: 25px;
}

.columns {
	background-color:#f5f5f5;
}
.columns__title {
	padding:50px 0 30px 0;
	text-align:center;
}
.columns__row {
	display:flex;
	flex-wrap:wrap;
	margin:0 -8px;
}
.columns__column {
	flex:0 1 50%;
	margin: 0px 0px 30px 0px;
	padding:0 8px;
}
.columns__item {
}
.item {
}
.item__row {
	display: flex;
}
.item__image {
	margin-right:15px;
	flex:0 0 200px;
}
.item__image img {
	max-width:100%;
}
.item__body {
	flex:1 1 auto;
}
.item__title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #445161;
	margin-bottom: 10px;
}
.item__text {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
}

.vertical {
	margin-bottom:50px;
}

.vertical__body {
	max-width: 990px;
	margin:0 auto;
}
.vertical__title {
	text-align:center;
	padding:50px 0px 30px 0px;
}

.vertical__row {
	display:flex;
	margin:0 -22.5px;
}
.vertical__lolumn {
	flex:0 1 33.333%;
	padding:0 22.5px;
	display:flex;
}
.vertical__item {
	background-color:#445162;
	border-radius:5px;
	border:2px solid #445162;
	display:flex;
	flex-direction: column;
}
.vertical__subtitle {
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	text-align:center;
	text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
	padding:18px 0 12px 0;
}
.vertical__label {
	background-color: #fff;
	text-align: center;
	font-size: 40px;
	line-height: 30px;
	font-weight: 400;
	color: #445162;
	padding:20px 0;
}
.vertical__text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	padding:20px;
	flex:1 1 auto;
}
.vertical__text p {
	margin-bottom:30px;
}
.vertical__text p:last-child {
	margin-bottom:0px;
}
.btn {
	display:block;
	background:#fff;
	padding:15px 0;
	margin:0 20px 20px;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #445161;
	border-radius:5px;
}



.footer {
	background-color:#f5f5f5;
}
.footer-row {
	display:flex;
	height:65px;
	justify-content: center;
	align-items: center;
}
.footer__text {
	font-size: 12px;
	letter-spacing: 0.3px;
	color: #445162;
}
