* {
	box-sizing:border-box;
}

body {
	display:flex;
	min-height: 100vh;
	flex-direction: column;
	margin:0;
}

#main {
	display:flex;
	flex: 1;
	flex-direction:column;
}

#main > article {
	flex:1;
}

#main > nav, 
#main > aside {
	background:beige;
}

#main > nav {
	order:-1;
}

footer, header {
	background:yellowgreen;
	height:20vh;
}

header, article, nav, aside, footer {
	padding:1em;
}

/*
@media screen and (max-width:575px) {
	#main {
		display:block;
	}
}
*/

/*
@media screen and (max-width:575px) {
	#main {
		flex-direction:column;
	}
	#main > nav, 
	#main > aside {
		flex:0 0;
	}
}
*/

@media screen and (min-width:576px) {
	#main {
		flex-direction:row;
	}
	#main > nav,
	#main > aside {
		flex:0 0 20vw;
	}
}

