.wrapper {
	list-style-type: none;
	background-color:whitesmoke;
	padding:0;
	border-radius:3px;
}

.form-row {
	padding:.5em;
	display: flex;
}

.form-row > input {
	flex:2;
}

.form-row > input,
.form-row > button {
	padding:.5em;
}
.form-row > label {
	padding:.5em 1em .5em 0;
	flex:1;
}

.form-row > button {
	background:gray;
	border:0;
	color:#fff;
}

@media screen and (min-width: 768px) {
	.form-row > input {
		flex:3;
	}
}

@media screen and (min-width: 992px) {
	.form-row > input {
		flex:4;
	}
}

@media screen and (min-width:1200px) {
	.form-row > input {
		flex:5;
	}
}
